{% extends "layout.html" %}
{% block body %}



    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Report</h3>
                </div>
            <div class="clearfix"></div>
            </div>
        <div class="clearfix"></div>
            <div class="">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><i class="fa fa-bars"></i> First University - {{ payload.universities[0] }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="top50words" style="display:none;">
                                <h3>Top 50 Words</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Word</th>
                                            <th>Count</th>
                                        </tr>
                                    </thead>
                                    <tbody id="top50words_one">
                                    </tbody>
                                </table>
                                <hr>
                            </div>

                            <div class="most_similar" style="display:none;">
                                <h3>Most Similar Words</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Word</th>
                                            <th>Count</th>
                                        </tr>
                                    </thead>
                                    <tbody id="most_similar_one">
                                    </tbody>
                                </table>

                                <hr>
                            </div>

                            <div class="similarity" style="display:none;">
                                <h3>Cosine Similarity Between Words </h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>First Word</th>
                                            <th>Second Word</th>
                                            <th>Similarity %</th>
                                        </tr>
                                    </thead>
                                    <tbody id="similarity_one">
                                    </tbody>
                                </table>

                                <hr>
                            </div>

                            <div class="tsne" id="tsne_one" style="display:block;">
                                <h3>TSNE Visualisation</h3>
                                <img style="" src="/img/tsne/{{ payload.universities[0] }}{{ payload.image_string }}" />

                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><i class="fa fa-bars"></i> Second University - {{ payload.universities[1] }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="top50words" style="display:none;">
                                <h3>Top 50 Words</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Word</th>
                                            <th>Count</th>
                                        </tr>
                                    </thead>
                                    <tbody id="top50words_two">
                                    </tbody>
                                </table>

                                <hr>
                            </div>


                            <div class="most_similar" style="display:none;">
                                <h3>Most Similar Words</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Word</th>
                                            <th>Count</th>
                                        </tr>
                                    </thead>
                                    <tbody id="most_similar_two">
                                    </tbody>
                                </table>

                                <hr>
                            </div>

                            <div class="similarity" style="display:none;">
                                <h3>Cosine Similarity Between Words </h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>First Word</th>
                                            <th>Second Word</th>
                                            <th>Similarity %</th>
                                        </tr>
                                    </thead>
                                    <tbody id="similarity_two">
                                    </tbody>
                                </table>

                                <hr>
                            </div>

                            <div class="tsne" id="tsne_two" style="display:block;">
                                <h3>TSNE Visualisation</h3>
                                <img style="" src="/img/tsne/{{ payload.universities[1] }}{{ payload.image_string }}" />

                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        // To get:
        // - Uni array                      [x]
        // - Word to model against          [ ]
        // - Second word for similarity     [ ]
        // - TSNE words (separate by comma) [ ]
        // - Word frequency                 [ ]
        // - Top 50 words                   [x]

        payload = {{ payload|safe }}

        console.log(payload)

        var top50words = payload.top50words;
        var most_similar = payload.most_similar;
        var similarities = payload.similarity;

        var universities = payload.universities;

        if( top50words ) {
            $('.top50words').css('display', 'block');

            // Do the top 50
            for(var i = 0; i < top50words.length; i++) {
                var uni = top50words[i];
                content = "";

                // Add header for uni
                for(var j = 0; j < uni.list.length; j++) {
                    content += "<tr><th scope='row'>" + (j + 1) + "</th>" +
                    "<td>" + uni.list[j].word + "</td>" +
                    "<td>" + uni.list[j].occurrance + "</td></tr>";
                }

                if( i == 0 ) {
                    $("#top50words_one").append(content);
                } else {
                    $("#top50words_two").append(content);
                }
                //$("#" + uni.name).append(content);
            }
        }

        if( most_similar ) {
            $('.most_similar').css('display', 'block');

            // Get the similarities for each uni
            var unis = most_similar.similar;

            // Get the most similar words for each uni
            for(var i = 0; i < unis.length; i++) {
                var list = unis[i].list;
                content = "";

                // Get the list of similarities
                for(var j = 0; j < list.length; j++) {
                    content += "<tr><th scope='row'>" + (j + 1) + "</th>" +
                    "<td>" + list[j].word + "</td>" +
                    "<td>" + list[j].similarity + "</td></tr>";
                }

                if( i == 0 ) {
                    $("#most_similar_one").append(content);
                } else {
                    $("#most_similar_two").append(content);
                }
            }
        }

        if( similarities ) {
            $('.similarity').css('display', 'block');

            // Get the most similar words for each uni
            for(var i = 0; i < similarities.length; i++) {
                console.log("Similarities: ");
                console.log(similarities);
                content = "";

                content += "<td>" + similarities[i].similarity.word1 + "</td>" +
                    "<td>" + similarities[i].similarity.word2 + "</td>" +
                    "<td>" + similarities[i].similarity.rate + "</td></tr>";

                console.log(content);

                if( i == 0 ) {
                    $("#similarity_one").append(content);
                } else {
                    $("#similarity_two").append(content);
                }
            }

        }

    </script>

{% endblock %}