{% extends "layout.html" %}
{% block body %}

        <script src="{{ url_for('static', filename='js/universities.js') }}"></script>

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>List of Universities</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Website</th>
                        </tr>
                      </thead>
                      <tbody id="uni_body">
                        <!--<tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                        </tr>-->
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>

{% endblock %}